body {
  font-family: rubik;
  background-color: #ef5350;
  margin: 0;
  padding: 0;
}

header {
  width: 250px;
  margin: 20px auto;
}

.headerImg {
  width: 100%;
}

.navbar {
  background-color:	#386bbb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 100%;
}

.hamburger {
  color: white;
  font-weight: 900;
  font-size: 1.3rem;
  margin: 4%;
}

.menu {
  visibility: hidden;
  order: -1;
}

.container {
  /*add styles for the container here*/
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
}

#pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 5px;
  background-color: #fff;
  color: #222;
  margin:10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}
.card-subtitle {
  margin-top: 6px;
  font-weight: lighter;
  color: #757575;
}

.card-image {
  height: 180px;
  margin: auto;
}

.menu {
  /*add styles for the menu here*/
}


header {
  /*add styles for the header here*/
}

.headerImg {
  /*add styles for the header image here*/
}

.social {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

footer {
  /*add styles for the footer here*/
}

/* Tablet */
@media (min-width: 200px) and (max-width: 850px) {
  #pokedex {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}


/* Desktop */
@media (min-width: 850px) {
  #pokemon {
    background-color: black;
  }
}

